
<div appHoverBackground>
  Pasa el cursor por mi
</div>
<h1>{{getName}}</h1>


<dl>
  <td>Nombre: </td>
  <dd> {{getName}} </dd>

  <td>Edad: </td>
  <dd> {{getAge}} </dd>

  <td>Método: </td>
  <dd> {{getHeroDescription()}} </dd>

  <td>Capitalizado: </td>
  <dd>{{getCapitalizedName}} </dd>

</dl>


<button *ngIf="getName !=='spiderman'"
 class="btn btn-primary mx-2" (click)="changeHeroName()">
  Cambiar nombre
</button>

<button *ngIf="getAge !==25"
class="btn btn-primary" (click)="changeHeroAge()">
  Cambier edad
</button>

<button class="btn btn-primary mx-2" (click)="resetForm()">
    Reiniciar cuestionario
</button>
